/* body {
  margin-top: 200px;
  font-family: "Signika Negative", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

.NewQuestionnaire {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 20px;
  border: none;
  padding: 40px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 60px;
  /* background-color: white; */
}
.next button {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  margin-right: 0.4cm;
  border: none;
  outline: none;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(52, 54, 54);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
}

.next button:hover {
  background-color: #a7a7a7;
  color: rgb(255, 255, 255);
}

.test {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
}

.test > div {
  text-align: center;
}
.image img {
  width: 55%;
  height: auto;
  margin-top: 0.5cm;
}
.button button {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(52, 54, 54);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  height: 50px;
  /* width: 200px; */
  text-align: center;
}


.button1 :hover{
  background-color: #a7a7a7;
  color: rgb(255, 255, 255);
}
.button2 :hover{
  background-color: #a7a7a7;
  color: rgb(255, 255, 255);
}
.inputContainer {
  margin-top: 0cm;
  padding: 20px;
  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  font-size: 18px;
}

.inputContainer label{
  display: inline-block;
  /* width: 50px; */
  text-align: center;
  padding: 10px;
  /* font-size: 29px; */
}
.inputContainer input[type=text]{
  width: 230px;
  height: 30px;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid #a7a7a7;
  background-color: #acdbe35b;
  font-size: 20px;
  text-align: center;
  color: #080808;
}

.animationtest{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
}