.content{
    background-image: url(./assets/wave_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Signika Negative", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* overflow: hidden; */
    }
  
  
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center the headings */
    color:#000000 ;
    transition: all 0.3s ease-in-out;
    background-image: none;
  
  }
  
  .container h1{
    font-family: 'SeoulHangang CB';
    margin: 0;
    font-size: 32px;
   
  }
  
  
  .container h2,h3{
    margin: 0;
    font-family: "Signika Negative", sans-serif;
    font-weight: bolder;
  
  }
  
  .container p{
    font-weight: lighter;
    font-size: 12px;
    margin: 0px;
  }
  
  
  .lottie-animation {
    display: flex; /* Ensure the animation is on the same line */
    float: left;
    vertical-align: middle; /* Align the animation vertically */
    margin-left: 110px; /* Adjust the margin between headings and animation */
    justify-content: left;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    margin-top: 0px;
    height: 70%;
    width: 70%;
  }
  
  .btn{
    margin: 10px;
  }
  
  .start-btn{
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 5rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #000000 ;
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    text-align: center;
    height: 50px;
    width: 200px;
    border: none;
    
  }
  .start-btn:hover{
    background-color: white;
    color: #727173 ;
    border-style:solid;
    border-color: #727173 ;
    transition: all 0.3s ease-in-out;
  
  
  }
  