.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.d_flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  p{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
}
*/
body {
  background-image: url('/PB-Website_Your-Childs-Sight_Header-01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.search-bar {
  margin-bottom: 20px; /* Add margin bottom to create space between search bar and table */
  
}

.search-bar input {
  width: 97%; /* Make the input field fill its container */
  padding: 8px; /* Add padding for better appearance */
  font-size: 16px; /* Adjust font size */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
}

.table-container {
  margin-top: 20px; /* Add margin top to create space between search bar and table */
}
.container {
  display: flex;
  justify-content: center;
}
.table {
  border-collapse: collapse; /* Ensure table borders collapse properly */
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #000; /* Add border to table cells */
  padding: 8px; /* Add padding to table cells */
}

.thead-dark th {
  background-color: #343a40; /* Set background color for table header */
  color: white; /* Set text color for table header */
}

.d_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.d_flex p {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}


