.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.tableHeading{
    display: flex;
    font-size: 25px;
}
.paragraph{
    font-size: 20px;
    margin-top: -15px;
}