.registering{
    margin-top: 30px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.registerButton{
    margin-top: 24px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.registerButton input[type="submit"] {
    height: 40px; 
    width: 180px;
    font-size: 20px;
    border-radius:14px;
    background-color: rgb(235, 8, 223);
}
.registerButton input[type="submit"]:hover {
    background-color: black;
}