/* testStart.css */
body {
  background-image: url("../assets/pic.png");
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body covers the entire viewport height */

}

.test-start-container {
  text-align: center;
  margin-top: 50px;
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  background-color: #0056b3;
}
