.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to fill the viewport */
}

.test > div {
  text-align: center;
}
